@use "@styles/mixins" as *;
@use "@styles/media" as *;

.button {
  @include flexCenter(true);
  @include resetButton;
  height: var(--buttonHeight);
  padding-inline: 3rem;
  font-size: 1rem;
  color: var(--colorWhite);
  background-color: var(--colorPrimary);
  border-radius: var(--borderRadius);
  white-space: nowrap;
  box-shadow: var(--boxShadowButton);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    @include hover {
      background-color: var(--colorPrimary);
      color: var(--colorWhite);
    }
  }

  @include hover {
    color: var(--colorPrimary);
    box-shadow: var(--boxShadowButtonHover);
    transform: scale(1.01);
    background-color: var(--colorWhite);
  }

  &:active {
    color: var(--colorPrimary);
    background: var(--colorUranianBlue) linear-gradient(to right, var(--colorWhite), var(--colorUranianBlue));
    transform: scale(0.99);
    box-shadow: var(--boxShadowButtonActive);
  }
}

.burgerButton {
  @include flexCenter;
  @include square(3rem);
  border: none;
  border-radius: var(--borderRadius);
  background: transparent;
  color: var(--colorBlue);
  cursor: pointer;

  @include hover {
    color: var(--colorWhite);
    background-color: var(--colorPrimary);
    box-shadow: var(--boxShadowButtonHover);
    transform: scale(1.1);
  }
}
