@use "@styles/media" as *;
@use "@styles/mixins" as *;

.clients {
  display: flex;
  flex-direction: column;
  row-gap: 7.7rem;
  padding-bottom: 7.8rem;
  @include mobile {
    row-gap: 3rem;
  }

  &__text {
    display: flex;
    column-gap: 4rem;
    @include desktop {

      @include flexCenter(true);
      flex-direction: column;
      row-gap: 3.1rem;
    }
  }

  &__title {
    color: var(--colorWhite);
  }

  &__description {
    opacity: 0.6;
    width: 70%;
    @include desktop {
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include tablet {
      margin-inline: 5.6rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
  }

  &__item {

    @include flexCenter(true);
    padding-block: 2.56rem;
    border-bottom: 1px solid var(--colorWhiteTransparent);
    border-right: 1px solid var(--colorWhiteTransparent);
    @include tabletAbove {
      &:nth-child(4n) {
        border-right: none;
      }

      &:nth-last-child(-n+4) {
        border-bottom: none;
      }
    }

    &:nth-last-child(-n+1) {
      background-color: var(--colorDarkBlueTransparent);
    }
    @include tablet {
      &:nth-child(2n) {
        border-right: none;
      }

      &:nth-last-child(-n+2) {
        border-bottom: none;
      }

      &:nth-last-child(-n+1) {
        background-color: var(--colorDarkBlueTransparent);
      }
    }
    @include mobile {
      font-size: 14px;

      &:nth-child(n) {
        border-right: none;
        border-bottom: 1px solid var(--colorWhiteTransparent);
      }

      &:nth-last-child(-n+1) {
        border-bottom: none;
      }
    }
  }
}
