@use "@styles/media" as *;

.header {
  --headerInnerMaxWidth: 75rem;
  padding-top: 2.5rem;

  &__inner {
    max-width: var(--headerInnerMaxWidth);
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    @include desktopAbove {
      padding-inline: 5rem;
    }
    @include mobile {
      padding-inline: 1rem;
    }
  }
}