@use "@styles/media" as *;
@use "@styles/mixins" as *;

.header {
  --headerInnerMaxWidth: 89vw;
  --headerInnerHeight: 3rem;
  padding-top: 2.5rem;
  position: absolute;
  padding-inline: 1.5rem;
  width: 100%;

  @include tablet {
    padding-top: 1.75rem;
  }

  @include mobile {
    padding-top: 1rem;
  }

  &__logo {
    height: 3rem;
  }

  &__inner {
    max-width: var(--headerInnerMaxWidth);
    height: var(--headerInnerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
  }
}