@use "@styles/media" as *;

.serviceCard {
  max-width: var(--cardWidth);
  padding: var(--cardPadding);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadowCard);
  transition: transform var(--transitionEffectCard),
              box-shadow var(--transitionEffectCard),
              opacity var(--transitionEffectCard);
  @include mobile {
    width: 18rem;
    padding: 2.25rem;
  }
  @include hover {
    transform: translateY(-0.5rem) scale(1.03);
    box-shadow: var(--boxShadowCardHover);
  }

  &__title {
    color: var(--colorDarkBlue);
  }

  &__description {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__link {
    display: flex;
    align-items: center;
    max-width: 9rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.14;
    letter-spacing: 0.05rem;
    height: 1.875rem;
    column-gap: 1.5rem;
    color: var(--colorPrimary);

    &IconWrapper {
      display: flex;
      align-items: center;
    }
  }
}

.icon {
  &__manWithList {
    margin: 0 4.75rem 3.5rem 0.94rem;
    @include mobile {
      margin-inline: 0;
      margin-bottom: 1.25rem;
    }
  }

  &__womanWithSmartHome {
    margin: -4.45rem 1.2rem 3.2rem;
    @include mobile {
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  &__womanWithLaptop {
    margin: 0 4.5rem 3.5rem 2.33rem;
    @include mobile {
      margin-inline: 0;
      margin-bottom: 1.25rem;
    }
  }
}
