@use "@styles/media" as *;

.services {
  padding-top: 11.25rem;
  padding-bottom: 13.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding-top: 5.6rem;
  }

  &__title {
    position: absolute;
    padding-top: 1rem;
    max-width: 25rem;
    align-self: start;
    color: var(--colorBlue);

    @include desktop {
      margin-left: 3rem;
    }

    @include tablet {
      position: relative;
      align-self: center;
      text-align: center;
      margin-left: 0;
      margin-bottom: 3rem;
      width: 80%;
    }
  }

  &__list {
    width: var(--containerWidth);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 5rem;

    @include tablet {
      width: 80vw;
      gap: 5rem;
      padding: 0;
    }
  }

  &__item {

    &:nth-child(odd) {
      align-self: flex-end;
      margin-top: -12.4rem;

      @include tablet {
        margin-top: 0;
        align-self: center;
      }
    }

    &:nth-child(even) {
      align-self: flex-start;
      margin-top: -14.15rem;

      @include tablet {
        margin-top: 0;
        align-self: center;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    @include desktop {
      align-self: center;
    }

    @include tablet {
      margin-top: 0;
    }
  }
}
