:root {
  --colorFrenchMauve: #D067C9;
  --colorVermilion: #FF2E2E;
  --colorCarmine: #991A1A;
  --colorHunterGreen: #2D5F22;
  --colorWhiteTransparent: #FFFFFF33;

  --colorDarkBlueTransparent: #1F3F6833;
  --colorYaleBlue: #1F3F68;
  --colorLapisLazuli: #316099;
  --colorAzul: #356EAD;
  --colorBlueGray: #5A98D0;
  --colorJordyBlue: #98C3E8;
  --colorWhiteSmoke: #F2F2F2;
  --colorWhite: #FFFFFF;

  --colorPrimaryLink: var(--colorFrenchMauve);
  --colorDanger: var(--colorVermilion);
  --colorDangerDark: var(--colorCarmine);
  --colorSuccess: var(--colorHunterGreen);
  --colorDarkBlue: var(--colorYaleBlue);
  --colorBlue: var(--colorLapisLazuli);
  --colorSecondary: var(--colorAzul);
  --colorPrimary: var(--colorBlueGray);
  --colorLightBlue: var(--colorJordyBlue);
  --colorGrayLight: var(--colorWhiteSmoke);

  --boxShadowCard: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
  --boxShadowCardHover: 5px 25px 60px 0 rgba(16, 112, 177, 0.3);
  --boxShadowButton: 5px 10px 20px 0 rgba(53, 110, 173, 0.2);
  --boxShadowButtonHover: 5px 10px 20px 0 rgba(53, 110, 173, 0.3);

  --gradient: linear-gradient(0deg, rgba(53, 110, 173, 0.15) 0%, var(--colorWhite) 30%);
}