:root {
  --borderRadius: 10px;
  --borderRadiusBig: 12.5rem;

  --baseFontSize: 16px;
  --fontFamilyBase: 'Gilroy', sans-serif;
  --lineSpacingBase: 0.05rem;

  --containerWidth: 58.75rem;
  --containerPaddingX: 1.5rem;

  --cardWidth: 23.75rem;
  --cardMinHeight: 32.8rem;
  --cardPadding: 3rem;

  --inputHeight: 4.5rem;
  --inputHeightTablet: 3.75rem;
  --inputHeightMobile: 3rem;
  --buttonHeight: 3.5rem;
  --buttonHeightBig: 4.5rem;

  --transitionDuration: 0.4s;
  --transitionEffect: var(--transitionDuration) ease-in-out;
  --transitionEffectFast: 0s ease-in-out;
}